BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: false
AccessModifierOffset: -4
NamespaceIndentation: All
MaxEmptyLinesToKeep: 2
